{
    auto_https off
    admin off
}
:8080 {
    root * /srv
    file_server
    encode zstd gzip
    @database path *.db *.db.* *.files *.files.* *.sig
    header @database Cache-Control "no-cache, must-revalidate"
    @package path *.pkg.tar.*
    header @package Cache-Control "public, max-age=31536000, immutable"
    header X-Content-Type-Options nosniff
}
